/* @override 
	http://ocupopstaging.com/admaker/css/style.css */

/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #08587c; color: #fff; text-shadow: none; }
::selection { background: #08587c; color: #fff; text-shadow: none; }

a { color: #08587c; }
a:visited { color: #08587c; }
a:hover { color: #83121a; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* PBS NewsHour AdMaker 2012 */

/*
Font weights available:
Regular: 400
Bold: 700
Black: 900
*/

html,
body
{
  background: url(../img/background.png) center center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
  font-family: 'proxima-nova-alt';
  font-weight: 400;
  height: 100%;
  min-height: 100%;
}

h1,
h2,
h3,
h4
{
  font-weight: normal;
  text-transform: uppercase;
}

.container
{
  background: url(../img/body.png);
  margin: 0 auto;
  padding: 0 50px;
  width: 800px;

}

header
{
  margin-bottom: 4em;
}

header h1
{
  background: url(../img/header.png) center center;
  display: block;
  margin: -20px 0 0 -50px;
  padding: 0 0 1em;
  width: 900px;
  height: 255px;
}

nav
{
  display: none;
  position: absolute;
  top: 270px;
  left: 50%;
  margin-left: -530px;
  text-align: center;
  z-index: 9;
  width: 100%;
}

nav ul
{
  margin: 0;
  padding: 0;
}

nav ul li
{
  color: #ccc;
  font-size: 32px;
  font-style: italic;
  display: inline;
  margin: 0 .5em;
  padding: 0;
  text-transform: uppercase;
}



#hometown {
  height: 440px;
  color: #f0f6f4;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
  line-height: .9em;
  background: url(../img/hometown.jpg);
  position: relative;
  opacity: 0;
  -webkit-transition-property: opacity, 
  -webkit-transform;
  -webkit-transition-duration: 1s, 8s;
     -moz-transition-property: -moz-opacity, -moz-transform;
     -moz-transition-duration: 1s, 8s;
      -ms-transition-property: -ms-opacity, -ms-transform;
      -ms-transition-duration: 1s, 8s;
       -o-transition-property: -o-opacity, -o-transform;
       -o-transition-duration: 1s, 8s;
          transition-property: opacity, transform;
          transition-duration: 1s, 8s;
}

#hometown.fx {
  opacity:1;
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}

#hometown .text {
  position: absolute; 
  left: 390px;
  top: 175px;
  width: 220px;
  height: 74px;
  display: table;
}

#hometown .text span {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}

.photo {
  width:800px;
  height:440px;
  overflow:hidden;
}

.photo img {
  position:absolute;
  min-width: 850px;
  top:50%;
  left:50%;
  margin-left:-400px;
  margin-top:-225px;
  opacity:0;
  -webkit-transition-property: opacity, 
  -webkit-transform;
  -webkit-transition-duration: 1s, 8s;
     -moz-transition-property: opacity, -moz-transform;
     -moz-transition-duration: 1s, 8s;
      -ms-transition-property: opacity, -ms-transform;
      -ms-transition-duration: 1s, 8s;
       -o-transition-property: opacity, -o-transform;
       -o-transition-duration: 1s, 8s;
          transition-property: opacity, transform;
          transition-duration: 1s, 8s;
}

.photo img  {
  -webkit-transform-origin: bottom left;
     -moz-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
       -o-transform-origin: bottom left;
          transform-origin: bottom left;
}
.photo.topright img {
  -webkit-transform-origin: top right;
     -moz-transform-origin: top right;
      -ms-transform-origin: top right;
       -o-transform-origin: top right;
          transform-origin: top right;
}
.photo.topleft img {
  -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
      -ms-transform-origin: top left;
       -o-transform-origin: top left;
          transform-origin: top left;
}
.photo.bottomright img {
  -webkit-transform-origin: bottom right;
     -moz-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
       -o-transform-origin: bottom right;
          transform-origin: bottom right;
}
.photo.bottomleft img {
  -webkit-transform-origin: bottom left;
     -moz-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
       -o-transform-origin: bottom left;
          transform-origin: bottom left;
}

.photo .fx {
  opacity:1;
  -webkit-transform: scale(1.2) translate(30px);
     -moz-transform: scale(1.2) translate(30px);
      -ms-transform: scale(1.2) translate(30px);
       -o-transform: scale(1.2) translate(30px);
          transform: scale(1.2) translate(30px);
}

#photo2 {
  display: none;
}

#quote
{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 440px;
  overflow: hidden;
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-duration: 1s, 10s;
     -moz-transition-property: -moz-opacity, -moz-transform;
     -moz-transition-duration: 1s, 10s;
      -ms-transition-property: -ms-opacity, -ms-transform;
      -ms-transition-duration: 1s, 10s;
       -o-transition-property: -o-opacity, -o-transform;
       -o-transition-duration: 1s, 10s;
          transition-property: opacity, transform;
          transition-duration: 1s, 10s;
}

#quote.fx {
  opacity: 1;
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}

#quote img
{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#quote p
{
  position: absolute;
  top: 150px;
  left: 100px;
  font-family: 'Impact', Arial, Helvetica, sans-serif;
  font-size: 38px;
  text-align: left;
  text-transform: uppercase;
  width: 600px;
  z-index: 2;
  color: #fff;
  text-shadow: 0 0 20px #000, 0 0 20px #000, 0 0 20px #000;
}

#attack_wrapup {
  position: absolute;
  height: 440px;
  width: 800px;
  top: 0;
  overflow: hidden;
  text-shadow: 0 0 10px #000, 0 0 10px #000;
  color: white;
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
     -moz-transition-property: -moz-opacity;
     -moz-transition-duration: 1s;
      -ms-transition-property: -ms-opacity;
      -ms-transition-duration: 1s;
       -o-transition-property: -o-opacity;
       -o-transition-duration: 1s;
          transition-property: opacity;
          transition-duration: 1s;
}

#attack_wrapup img
{
  position: absolute;
  top: -55px;
  left: 0;
  z-index: 1;
}

#attack_wrapup.fx {
  opacity: 1;
}

#attack_wrapup .name {
  font-size: 3.5em;
  margin-left: 30px;
  margin-top: 20px;
  line-height: 1em;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
  z-index: 2;
  position: relative;
  text-align: center;
}

#attack_wrapup .quote {
  margin-left: 30px;
  font-size: 2em;
  line-height: 1.3em;
  z-index: 2;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
  position: relative;
}

#attack_wrapup .disclaimer {
  position: absolute;
  bottom: 25px;
  margin-left: 30px;
  text-align: center;
  width: 90%;
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: none;
  z-index: 2;
  font-size: 14px;
}


/* BIO */

#diploma {
  width: 800px;
  height: 440px;
  background: url(../img/diploma.jpg) center;
  position: absolute;
  font-family: 'bickham-script-pro';
  text-align: center;
  font-size: 3em;
  line-height: 1em;
  top: 0;
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-duration: 1s, 10s;
     -moz-transition-property: -moz-opacity, -moz-transform;
     -moz-transition-duration: 1s, 10s;
      -ms-transition-property: -ms-opacity, -ms-transform;
      -ms-transition-duration: 1s, 10s;
       -o-transition-property: -o-opacity, -o-transform;
       -o-transition-duration: 1s, 10s;
          transition-property: opacity, transform;
          transition-duration: 1s, 10s;
  
}

#diploma .school {
  font-size: .6em;
  margin-top: 110px;
  margin-bottom: 30px;
  font-family: "ff-brokenscript-web";
}

#diploma .year {
  font-weight: bold;
  font-size: .6em;
  margin-top: 60px;
}

#diploma .name {
  font-size: 1.4em;
}

#diploma.fx {
opacity: 1;
  -webkit-transform: scale(1.2) translate(0px);
     -moz-transform: scale(1.2) translate(0px);
      -ms-transform: scale(1.2) translate(0px);
       -o-transform: scale(1.2) translate(0px);
          transform: scale(1.2) translate(0px);
}


#wrapup {
  position: absolute;
  background: url(../img/eagle.jpg);
  height: 440px;
  width: 800px;
  top: 0;
  overflow: hidden;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
  color: white;
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
     -moz-transition-property: -moz-opacity;
     -moz-transition-duration: 1s;
      -ms-transition-property: -ms-opacity;
      -ms-transition-duration: 1s;
       -o-transition-property: -o-opacity;
       -o-transition-duration: 1s;
          transition-property: opacity;
          transition-duration: 1s;
}

#wrapup.fx {
  opacity: 1;
}

#wrapup .name {
  font-size: 3.5em;
  margin-left: 30px;
  margin-top: 20px;
  line-height: 1em;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}

#wrapup .slogan {
  margin-left: 30px;

  font-size: 2em;
  line-height: 1.3em;
}

#wrapup .legal {
  position: absolute;
  bottom: 10px;
  margin-left: 30px;
  text-align: center;
  width: 100%;
  color: black;
  text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
}

#wrapup .mug {
  padding: 10px;
  background: #eee;
  border: 1px solid #fff;
  box-shadow: 0px 2px 15px #333;
  position: absolute;
  top: 130px;
  left: 1340px;
  width: 220px;
  -webkit-transform: scale(1.1) rotate(10deg) translate(800px);
     -moz-transform: scale(1.1) rotate(10deg) translate(800px);
      -ms-transform: scale(1.1) rotate(10deg) translate(800px);
       -o-transform: scale(1.1) rotate(10deg) translate(800px);
          transform: scale(1.1) rotate(10deg) translate(800px);
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-duration: 1s, 1s;
     -moz-transition-property: -moz-transform;
     -moz-transition-duration: 1s, 1s;
      -ms-transition-property: -ms-transform;
      -ms-transition-duration: 1s, 1s;
       -o-transition-property: -o-transform;
       -o-transition-duration: 1s, 1s;
          transition-property: transform;
          transition-duration: 1s, 1s;
          
}

#wrapup .mug.fx {
  left: 480px;
  opacity: 1;
  -webkit-transform: scale(1) rotate(-5deg) translate(0px);
     -moz-transform: scale(1) rotate(-5deg) translate(0px);
      -ms-transform: scale(1) rotate(-5deg) translate(0px);
       -o-transform: scale(1) rotate(-5deg) translate(0px);
          transform: scale(1) rotate(-5deg) translate(0px);
}



.controls {
  text-align: center;
}

.controls a {
  padding: 0 5px 0 5px ;
}

.video_frame
{
  background: url(../img/video_frame.png) left top no-repeat;
  width: 800px;
  height: 450px;
  margin-left: -13px;
  padding: 13px 13px 21px 20px;
  position: relative;
}

#poster
{
  background: url(../img/poster_background.jpg);
  cursor: pointer !important;
  position: absolute;
  left: 20px;
  top: 13px;
  width: 800px;
  height: 440px;
  text-align: center;
  z-index: 4;
}

#poster img.vote_for_you
{
  position: absolute;
  top: -110px;
  left: -80px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#poster img.vote_for_you.gone
{
  position: absolute;
  top: -600px;
  left: -200px;
}

#poster h2
{
  font-size: 69px;
  font-weight: 900;
  line-height: 1;
  margin: .5em 0 0;
}

#poster h2 strong
{
  display: block;
  font-size: 78px;
  font-weight: 900;
}

#poster h3
{
  color: #83121a;
  font-size: 36px;
  font-weight: 700;
  margin: .4em;
}

#poster h3 img
{
  vertical-align: -13px;
}

#poster p
{
  font-size: 19px;
  line-height: 1.4;
  margin: 0 75px;
}

.video_bounds
{
  width: 800px;
  height: 440px;
  margin: 13px 0 0 20px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  margin: 13px 0 0 20px;
}

#video
{
  background: #000;
  z-index: 0;
}

#overlay
{
  background: #000;
  width: 800px;
  height: 408px;
  opacity: .4;
  position: absolute;
  left: 20px;
  top: 0px;
  z-index: 1;
  display: none;
}

#input
{
  background: url(../img/banner.png);
  display: none;
  width: 540px;
  height: 234px;
  margin-left: -375px;
  margin-top: -150px;
  padding: 13px 105px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 2;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

#input img.star
{
  position: absolute;
  top: 6px;
  left: 100px;
  -webkit-transform: rotate(-9deg);
  -moz-transform: rotate(-9deg);
  -o-transform: rotate(-9deg);
}

#input h2
{
  font-size: 36px;
  font-weight: 900;
  margin: .5em 0 .25em;
}

#input ul.choices
{
  list-style: none;
  margin: 0;
  padding: 0;
}

#input ul.choices li
{
  background-position: center top;
  background-repeat: no-repeat;
  color: #08587c;
  cursor: pointer !important;
  float: left;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 65px 2% 0;
  text-transform: uppercase;
  width: 29.33%;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#input ul.choices li:hover,
#input ul.choices li.chosen
{
  background-position: center 4px;
  color: #83121a;
}

#input ul.choices li.not_chosen
{
  opacity: .25;
}

#input ul.choices li.map      { background-image: url(../img/choice-map.png); }
#input ul.choices li.facebook { background-image: url(../img/choice-facebook.png); }
#input ul.choices li.random   { background-image: url(../img/choice-random.png); }

#input.clicked
{
  top: 0;
}

#map
{
  width: 800px;
  height: 440px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

#okay,
#no
{
  cursor: pointer !important;
  display: none;
  z-index: 2;
}

#okay
{
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#no
{
  position: absolute;
  right: 80px;
  bottom: 20px;
}

#subtitle
{
  position: absolute;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  font-size: 4em;
  color: red;
  font-weight: bold;
  text-align: center;
  top: 35%;
}

.stars
{
  display: block;
  margin: 1em auto;
}

.stars_top
{
  position: absolute;
  left: 50%;
  top: 275px;
  margin-left: -344px;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.stars_top.goodbye
{
  left: 150%;
}


/* Mobile */

@media only screen and (min-width: 35em) {


}


/* HTML5 Boilerplate */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
