/* @override 
	http://localhost/adlibs/ads.css */

/* Biographical */

#ad-smalltown-photo1 img
{
  -webkit-filter: saturate(4.9) sepia(1);
}

#ad-smalltown-photo1 {
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-duration: 1s, 10s;
     -moz-transition-property: -moz-opacity, -moz-transform;
     -moz-transition-duration: 1s, 10s;
      -ms-transition-property: -ms-opacity, -ms-transform;
      -ms-transition-duration: 1s, 10s;
       -o-transition-property: -o-opacity, -o-transform;
       -o-transition-duration: 1s, 10s;
          transition-property: opacity, transform;
          transition-duration: 1s, 10s;
}

#ad-smalltown-photo1.active {
  opacity: 1;
  -webkit-transform: scale(1.2) translate(0px);
     -moz-transform: scale(1.2) translate(0px);
      -ms-transform: scale(1.2) translate(0px);
       -o-transform: scale(1.2) translate(0px);
          transform: scale(1.2) translate(0px);
}

#ad-smalltown-hometown
{
  height: 450px;
  width: 800px;
  top: 0;
  color: #f0f6f4;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
  line-height: .9em;
  background: url(img/bio/hometown.jpg);
  position: absolute;
  opacity: 0;
  -webkit-transition-property: opacity,
  -webkit-transform;
  -webkit-transition-duration: 1s, 8s;
     -moz-transition-property: -moz-opacity, -moz-transform;
     -moz-transition-duration: 1s, 8s;
      -ms-transition-property: -ms-opacity, -ms-transform;
      -ms-transition-duration: 1s, 8s;
       -o-transition-property: -o-opacity, -o-transform;
       -o-transition-duration: 1s, 8s;
          transition-property: opacity, transform;
          transition-duration: 1s, 8s;
}

#ad-smalltown-hometown.active
{
  opacity:1;
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}

#ad-smalltown-hometown-name
{
  color: #f2f1dd;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: normal;
  position: absolute;
  left: 371px;
  top: 185px;
  width: 260px;
  height: 55px;
  display: table;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
}

#ad-smalltown-hometown-name span
{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#ad-smalltown-diploma
{
  width: 800px;
  height: 450px;
  background: url(img/bio/diploma.jpg) center;
  position: absolute;
  font-family: 'bickham-script-pro';
  text-align: center;
  font-size: 3em;
  line-height: 1em;
  top: 0;
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-duration: 1s, 10s;
     -moz-transition-property: -moz-opacity, -moz-transform;
     -moz-transition-duration: 1s, 10s;
      -ms-transition-property: -ms-opacity, -ms-transform;
      -ms-transition-duration: 1s, 10s;
       -o-transition-property: -o-opacity, -o-transform;
       -o-transition-duration: 1s, 10s;
          transition-property: opacity, transform;
          transition-duration: 1s, 10s;

}

#ad-smalltown-diploma-school
{
  font-size: .6em;
  margin-top: 85px;
  margin-bottom: 45px;
  font-family: "ff-brokenscript-web";
}

#ad-smalltown-diploma-year
{
  font-weight: bold;
  font-size: 64px;
  margin-top: 120px;
}

#ad-smalltown-diploma-name
{
  font-size: 1.4em;
}

#ad-smalltown-diploma.active
{
  opacity: 1;
  -webkit-transform: scale(1.2) translate(0px);
     -moz-transform: scale(1.2) translate(0px);
      -ms-transform: scale(1.2) translate(0px);
       -o-transform: scale(1.2) translate(0px);
          transform: scale(1.2) translate(0px);
}

#ad-smalltown-wrapup
{
  position: absolute;
  background: url(img/bio/eagle.jpg);
  height: 450px;
  width: 800px;
  top: 0;
  overflow: hidden;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
  color: white;
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
     -moz-transition-property: -moz-opacity;
     -moz-transition-duration: 1s;
      -ms-transition-property: -ms-opacity;
      -ms-transition-duration: 1s;
       -o-transition-property: -o-opacity;
       -o-transition-duration: 1s;
          transition-property: opacity;
          transition-duration: 1s;
}

#ad-smalltown-wrapup.active
{
  opacity: 1;
  left: 0;
}

#ad-smalltown-wrapup-name
{
  font-size: 3.5em;
  margin-left: 30px;
  margin-top: 20px;
  line-height: 1em;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}

#ad-smalltown-wrapup-slogan
{
  margin-left: 30px;
  font-size: 2em;
  line-height: 1.3em;
}

#ad-smalltown-wrapup-legal
{
  font-family: 'proxima-nova';
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
  margin-left: 30px;
  text-align: center;
  width: 100%;
  color: #444;
  text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
}

#ad-smalltown-wrapup-mug img
{
  padding: 10px;
  background: #eee;
  border: 1px solid #fff;
  box-shadow: 0px 2px 15px #333;
  position: absolute;
  top: 140px;
  left: 1310px;
  width: 230px;
  -webkit-transform: scale(1.1) rotate(5deg) translate(800px);
     -moz-transform: scale(1.1) rotate(5deg) translate(800px);
      -ms-transform: scale(1.1) rotate(5deg) translate(800px);
       -o-transform: scale(1.1) rotate(5deg) translate(800px);
          transform: scale(1.1) rotate(5deg) translate(800px);
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-duration: 1s, 1s;
     -moz-transition-property: -moz-transform;
     -moz-transition-duration: 1s, 1s;
      -ms-transition-property: -ms-transform;
      -ms-transition-duration: 1s, 1s;
       -o-transition-property: -o-transform;
       -o-transition-duration: 1s, 1s;
          transition-property: transform;
          transition-duration: 1s, 1s;
}

#ad-smalltown-wrapup-mug img.active
{
  left: 480px;
  opacity: 1;
  -webkit-transform: scale(1) rotate(6deg) translate(0px);
     -moz-transform: scale(1) rotate(6deg) translate(0px);
      -ms-transform: scale(1) rotate(6deg) translate(0px);
       -o-transform: scale(1) rotate(6deg) translate(0px);
          transform: scale(1) rotate(6deg) translate(0px);
}



/* General */

.photo
{
  width: 800px;
  height: 450px;
  overflow: hidden;
}

.photo img
{
  position: absolute;
  min-width: 850px;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -225px;
  opacity: 0;
  -webkit-transition-property: opacity,
  -webkit-transform;
  -webkit-transition-duration: 1s, 8s;
     -moz-transition-property: opacity, -moz-transform;
     -moz-transition-duration: 1s, 8s;
      -ms-transition-property: opacity, -ms-transform;
      -ms-transition-duration: 1s, 8s;
       -o-transition-property: opacity, -o-transform;
       -o-transition-duration: 1s, 8s;
          transition-property: opacity, transform;
          transition-duration: 1s, 8s;
}

.photo img
{
  -webkit-transform-origin: bottom left;
     -moz-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
       -o-transform-origin: bottom left;
          transform-origin: bottom left;
}

.photo.topright img
{
  -webkit-transform-origin: top right;
     -moz-transform-origin: top right;
      -ms-transform-origin: top right;
       -o-transform-origin: top right;
          transform-origin: top right;
}

.photo.topleft img
{
  -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
      -ms-transform-origin: top left;
       -o-transform-origin: top left;
          transform-origin: top left;
}

.photo.bottomright img
{
  -webkit-transform-origin: bottom right;
     -moz-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
       -o-transform-origin: bottom right;
          transform-origin: bottom right;
}
.photo.bottomleft img
{
  -webkit-transform-origin: bottom left;
     -moz-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
       -o-transform-origin: bottom left;
          transform-origin: bottom left;
}

.photo.active img
{
  opacity: 1;
  -webkit-transform: scale(1.2) translate(30px);
     -moz-transform: scale(1.2) translate(30px);
      -ms-transform: scale(1.2) translate(30px);
       -o-transform: scale(1.2) translate(30px);
          transform: scale(1.2) translate(30px);
}


#postroll {
  position: absolute;
  top: 400px;
  left: 180px;
  color: #83121A;
  z-index: 9999;
  color: ;
  font-family: proxima-nova;
  display: none;
}

#postroll span {
  cursor: pointer;
  font-size: 2em;
  margin-right: 1em;
  text-decoration: underline;
}

/* Attack */

#ad-fitforoffice-photo2
{
  display: none;
}

#ad-fitforoffice-quote
{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 450px;
  overflow: hidden;
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-duration: 1s, 10s;
     -moz-transition-property: -moz-opacity, -moz-transform;
     -moz-transition-duration: 1s, 10s;
      -ms-transition-property: -ms-opacity, -ms-transform;
      -ms-transition-duration: 1s, 10s;
       -o-transition-property: -o-opacity, -o-transform;
       -o-transition-duration: 1s, 10s;
          transition-property: opacity, transform;
          transition-duration: 1s, 10s;
}

#ad-fitforoffice-quote.active
{
  opacity: 1;
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}

#ad-fitforoffice-quote img
{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#ad-fitforoffice-quote p
{
  position: absolute;
  top: 150px;
  left: 100px;
  font-family: 'Impact', Arial, Helvetica, sans-serif;
  font-size: 38px;
  text-align: left;
  text-transform: uppercase;
  width: 600px;
  z-index: 2;
  color: #fff;
  text-shadow: 0 0 20px #000, 0 0 20px #000, 0 0 20px #000;
}

#ad-fitforoffice-wrapup
{
  position: absolute;
  height: 450px;
  width: 800px;
  top: 0;
  overflow: hidden;
  text-shadow: 0 0 10px #000, 0 0 10px #000;
  color: white;
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
     -moz-transition-property: -moz-opacity;
     -moz-transition-duration: 1s;
      -ms-transition-property: -ms-opacity;
      -ms-transition-duration: 1s;
       -o-transition-property: -o-opacity;
       -o-transition-duration: 1s;
          transition-property: opacity;
          transition-duration: 1s;
}

#ad-fitforoffice-wrapup img
{
  position: absolute;
  top: -55px;
  left: 0;
  z-index: 1;
}

#ad-fitforoffice-wrapup.active
{
  opacity: 1;
}

#ad-fitforoffice-wrapup .name
{
  font-size: 3.5em;
  margin-left: 30px;
  margin-top: 20px;
  line-height: 1em;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
  z-index: 2;
  position: relative;
  text-align: center;
}

#ad-fitforoffice-wrapup .quote
{
  margin-left: 30px;
  font-size: 2em;
  line-height: 1.3em;
  z-index: 2;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
  position: relative;
}

#ad-fitforoffice-wrapup .disclaimer
{
  position: absolute;
  bottom: 25px;
  margin-left: 30px;
  text-align: center;
  width: 90%;
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: none;
  z-index: 2;
  font-size: 14px;
}