/* @override
	http://ocupopstaging.com/admaker/css/style.css */

/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #08587c; color: #fff; text-shadow: none; }
::selection { background: #08587c; color: #fff; text-shadow: none; }

a { color: #08587c; }
a:visited { color: #08587c; }
a:hover { color: #83121a; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* PBS NewsHour AdMaker 2012 */

/*
Font weights available:
Regular: 400
Bold: 700
Black: 900
*/

html,
body
{
  background: url(img/background.png) center center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
  font-family: 'minion-pro';
  height: 100%;
  min-height: 100%;
}

h1, h2, h3, h4, h5, p /* Fix Webkit/OS X font weight bug. */
{
  opacity: .99;
}

h1,
h2,
h3,
h4
{
  font-weight: normal;
  text-transform: uppercase;
}

hr
{
  background: transparent url(img/stars.png) center center no-repeat;
  border: 0;
  height: 26px;
  margin: 2em 0;
}

.pbs
{
  background: #192a45;
  color: #fff;
  font-size: 14px;
  font-style: italic;
  padding: .5em 0 .6em;
  text-align: center;
}

.pbs img
{
  vertical-align: -5px;
}

.pbs strong
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  padding-left: .5em;
  text-transform: uppercase;
}

.container
{
  background: url(img/body.png);
  margin: 0 auto;
  padding: 0 50px 30px 50px;
  width: 800px;
}

header h1
{
  background: url(img/header.jpg) top center;
  display: block;
  margin: 0 0 0 -50px;
  padding: 0;
  width: 900px;
  height: 207px;
}

.tagline
{
  color: #919191;
  font-size: 22px;
  font-style: italic;
  line-height: 1.6;
  margin: 1.5em 0 2.25em;
  text-align: center;
  text-shadow: 2px 2px 0 #fff;
}

.tagline span
{
  color: #000;
  display: inline-block;
  font-family: 'kremlin-pro-web';
  font-size: 34px;
  border-bottom: 2px dotted #ccc;
  margin: 0 .1em;
  padding-left: .4em;
  text-shadow: none;
  text-transform: uppercase;
  vertical-align: -6px;
  width: 190px;
  height: 38px;
}

.tagline span em
{
  display: inline-block;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.tagline span em.biographical { margin-left: 0; }
.tagline span em.attack       { margin-left: 40px; }
.tagline span em.emotional    { margin-left: 18px; }
.tagline span em.children     { margin-left: 28px; }
.tagline span em.documentary  { margin-left: -5px; }
.tagline span em.realpeople   { margin-left: 8px; }
.tagline span em.backfire     { margin-left: 25px; }

.video_frame
{
  background: url(img/video_frame.png) left top no-repeat;
  width: 800px;
  height: 450px;
  margin-left: -13px;
  padding: 13px 13px 21px 20px;
  position: relative;
}

.mask
{
  width: 800px;
  height: 450px;
  position: absolute;
  left: 20px;
  top: 13px;
  overflow: hidden;
}

img.pin
{
  position: absolute;
  top: -90px;
  left: -45px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 10;
}

img.pin.gone
{
  position: absolute;
  top: -600px;
  left: -200px;
}

img.crest
{
  position: absolute;
  top: -30px;
  left: 322px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 10;
}

img.crest.gone
{
  position: absolute;
  top: -600px;
  left: -100px;
}

#poster
{
  background: url(img/poster_background.jpg);
  cursor: pointer !important;
  position: absolute;
  left: 0;
  top: 0;
  width: 800px;
  height: 450px;
  text-align: center;
  z-index: 5;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#poster.gone
{
  left: -800px;
}

#poster h2
{
  color: #182a45;
  font-size: 69px;
  font-weight: 900;
  line-height: .9;
  margin: .7em 0 0;
}

#poster h2 strong
{
  display: block;
  font-size: 80px;
  font-weight: 900;
}

#poster h3
{
  color: #83121a;
  font-family: 'proxima-nova';
  font-size: 36px;
  font-weight: 900;
  margin: .4em;
}

#poster h3 img
{
  vertical-align: -13px;
}

#poster p
{
  font-size: 19px;
  font-style: italic;
  line-height: 1.6;
  margin: 0 75px;
}

#choose_ad
{
  background: url(img/static.jpg);
  cursor: pointer !important;
  position: absolute;
  left: 0;
  top: 0;
  width: 800px;
  height: 450px;
  text-align: center;
  z-index: 4;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#choose_ad.gone
{
  left: -800px;
}

#choose_ad ul
{
  background: url(img/banner.png) center top no-repeat;
  list-style: none;
  margin: 6em auto 0 auto;
  padding: 28px 0 0 0;
  width: 749px;
  height: 260px;
}

#choose_ad li
{
  color: #192a45;
  font-size: 22px;
  font-style: italic;
  margin: .25em 0;
}

#choose_ad li:hover
{
  color: #902027;
}

.video_bounds
{
  width: 800px;
  height: 450px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

#video-bio,
#video-attack,
#video-emotional
{
  background: #000;
  z-index: 0;
  position: absolute;
  left: 20px;
  top: 13px;
}

#overlay
{
  background: #000;
  width: 800px;
  height: 450px;
  opacity: .4;
  position: absolute;
  left: 20px;
  top: 0px;
  z-index: 1;
  display: none;
}

#controls
{
  height: 50px;
  position: absolute;
  bottom: 24px;
  left: 30px;
  z-index: 12;
}

#controls span
{
  cursor: pointer !important;
  display: block;
  float: left;
  margin: 0 1em 0 0;
  width: 46px;
  height: 46px;
  text-indent: -9999px;
  position: absolute;
  top: 0;
}

#controls #play,
#controls #pause
{
  left: 0;
}

#controls #mute,
#controls #unmute
{
  left: 55px;
}

#controls #play   { background: url(img/button-play.png) }
#controls #pause  { background: url(img/button-pause.png) }
#controls #mute   { background: url(img/button-mute.png) }
#controls #unmute { background: url(img/button-unmute.png) }



/* Mobile */

@media only screen and (min-width: 35em) {


}


/* HTML5 Boilerplate */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
