/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #08587c; color: #fff; text-shadow: none; }
::selection { background: #08587c; color: #fff; text-shadow: none; }

a { color: #08587c; }
a:visited { color: #08587c; }
a:hover { color: #83121a; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* PBS NewsHour AdMaker 2012 */

/*
Fonts:

minion-pro (serif; body)
Regular: 400
Italic: 400
Bold: 700
Bold Italic: 700

proxima-nova
Semibold: 600
Black: 900

bickham-script-pro (script)
Regular: 400
Bold: 700

ff-brokenscript-web (blackletter)
Bold: 700

kremlin-pro-web (hand)
Regular: 400
*/

html,
body
{
  background: url(img/background.png) center center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
  font-family: 'minion-pro';
  height: 100%;
  min-height: 100%;
}

h1, h2, h3, h4, h5, p /* Fix Webkit/OS X font weight bug. */
{
  opacity: .99;
}

h1,
h2,
h3,
h4
{
  font-weight: normal;
  text-transform: uppercase;
}

hr
{
  background: transparent url(img/stars.png) center center no-repeat;
  border: 0;
  height: 26px;
  margin: 2em 0;
}

.container
{
  background: #c5c9cf url(img/body.png) center 224px repeat-x;
  margin: 0 auto;
  padding: 0 50px 30px 50px;
  width: 800px;
}

header h1
{
  background: url(img/header.jpg) top center;
  display: block;
  margin: 0 0 0 -50px;
  padding: 0;
  width: 900px;
  height: 224px;
}

.tagline
{
  color: #153350;
  font-size: 23px;
  font-style: italic;
  line-height: 1.6;
  margin: 1em 0 1em;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
}

.tagline .pbs
{
  display: block;
  font-family: 'proxima-nova';
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  margin: 0 0 .35em;
  text-transform: uppercase;
  text-shadow: none;
}

.tagline .pbs img
{
  margin-right: .25em;
  vertical-align: -9px;
}

#ad_type_cycle
{
  color: #000;
  display: inline-block;
  font-family: 'kremlin-pro-web';
  font-size: 34px;
  border-bottom: 2px dotted #ccc;
  margin: 0 .1em;
  padding: 0;
  text-shadow: none;
  text-transform: uppercase;
  vertical-align: -6px;
  width: 230px;
  height: 38px;
}

#ad_type_cycle em
{
  display: inline-block;
  left: 0;
  padding-right: 10px;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

#ad_type_cycle .biographical { padding-left: 25px; }
#ad_type_cycle .attack       { padding-left: 65px; }
#ad_type_cycle .emotional    { padding-left: 45px; }
#ad_type_cycle .smalltown    { padding-left: 30px; }
#ad_type_cycle .metroamerica { padding-left: 12px; }
#ad_type_cycle .backfire     { padding-left: 48px; }
#ad_type_cycle .fitforoffice { padding-left: 10px; }

.video_frame
{
  background: url(img/video_frame.png) left top no-repeat;
  width: 800px;
  height: 450px;
  margin: 0 0 3em -13px;
  padding: 13px 13px 21px 20px;
  position: relative;
}

.video_mask
{
  width: 800px;
  height: 450px;
  position: absolute;
  left: 20px;
  top: 13px;
  overflow: hidden;
}

img.pin
{
  position: absolute;
  top: -95px;
  left: -35px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 10;
}

img.pin.gone
{
  position: absolute;
  top: -600px;
  left: -200px;
}

img.crest
{
  position: absolute;
  bottom: -35px;
  left: 322px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 10;
}

img.crest.gone
{
  position: absolute;
  bottom: -600px;
  left: 322px;
}

.slide
{
  background: url(img/video_background.jpg);
  position: absolute;
  left: 0;
  top: 0;
  width: 800px;
  height: 450px;
  text-align: center;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.slide.completed
{
  left: -800px;
}

.slide h2
{
  color: #182a45;
  font-size: 69px;
  font-weight: 900;
  line-height: .9;
  margin: .5em 0 0;
}

.slide h2 strong
{
  display: block;
  font-size: 80px;
  font-weight: 900;
}

#title_card
{
  z-index: 5;
}

#title_card h3
{
  color: #83121a;
  font-family: 'proxima-nova';
  font-size: 36px;
  font-weight: 900;
  line-height: 1;
  margin-top: .75em;
  width: 800px;
  height: 50px;
  position: absolute;
  top: 165px;
  left: 800px;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#title_card h3 .fb-login-button
{
  margin-right: .25em;
  vertical-align: 3px;
}

#title_card h3 img
{
  vertical-align: -13px;
}

#title_card h3.current
{
  left: 0;
  opacity: 1;
}

#title_card h3.current.completed,
#title_card h3.completed
{
  left: -800px;
  opacity: 0;
}

#title_card h3#login_loading
{
  background: url(img/login_loading.gif) center center no-repeat;
}

#title_card h3#login_loading
{
  left: 0 !important;
}

#title_card h3#logged_in
{
  cursor: pointer !important;
}

#title_card p
{
  font-size: 19px;
  font-style: italic;
  line-height: 1.6;
  margin: 90px 75px;
}

#ad_chooser
{
  z-index: 4;
}

#ad_chooser h2
{
  margin-bottom: .6em;
}

#ad_chooser ul
{
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 540px;
  height: 300px;
}

#ad_chooser li,
#ad_chooser h3
{
  line-height: 1;
  margin: 0;
  padding: 0;
}

#ad_chooser .ad_choice_category h3,
#ad_chooser .ad_choice
{
  background-repeat: no-repeat;
  background-position: 13px top;
  cursor: pointer !important;
  display: block;
  width: 180px;
  height: 124px;
  opacity: .85;
  text-indent: -9999px;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

#ad_chooser .ad_choice_category h3
{
  margin: 0;
  padding: 0;
  opacity: .85;
  position: absolute;
  left: 0;
  top: 0;
}

#ad_chooser .ad_choice
{
  width: 150px;
}

#ad_chooser .ad_choice_category.ad_choice
{
  width: 0;
}

#ad_chooser .ad_choice_category.not_chosen h3,
#ad_chooser .ad_choice.not_chosen
{
  opacity: .5;
}

#ad_chooser .ad_choice_category:hover h3,
#ad_chooser .ad_choice_category.not_chosen:hover h3,
#ad_chooser .ad_choice_category.chosen h3,
#ad_chooser .ad_choice:hover,
#ad_chooser .ad_choice.not_chosen:hover,
#ad_chooser .ad_choice.chosen
{
  opacity: 1;
}

#ad_chooser .ad_choice_category.left h3   { left: 0; }
#ad_chooser .ad_choice_category.middle h3 { left: 35%; }
#ad_chooser .ad_choice_category.right h3  { left: 70%; }

#ad_chooser .ad_choice_category ul
{
  position: absolute;
  top: 115px;
  left: 50%;
  margin: 0 0 0 -150px;
  opacity: 0;
  width: 300px;
  z-index: 1;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

#ad_chooser .ad_choice_category.chosen ul
{
  top: 135px;
  opacity: 1;
  z-index: 2;
}

#ad_chooser .ad_choice_category li
{
  background-position: 8px top;
  cursor: pointer !important;
  float: left;
  margin: 0;
  padding: 0;
}

#ad_choice-biographical h3 { background-image: url(img/ad-biographical.png); }
#ad_choice-smalltown       { background-image: url(img/ad-smalltown.png); }
#ad_choice-metro           { background-image: url(img/ad-metro.png); }
#ad_choice-attack h3       { background-image: url(img/ad-attack.png); }
#ad_choice-fitforoffice    { background-image: url(img/ad-fitforoffice.png); }
#ad_choice-backfire        { background-image: url(img/ad-backfire.png); }
#ad_choice-emotional h3    { background-image: url(img/ad-emotional.png); }

#video_contents
{
  width: 800px;
  height: 450px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

#video-bio,
#video-attack,
#video-emotional
{
  background: #000;
  z-index: 0;
  position: absolute;
  left: 20px;
  top: 13px;
}

#controls
{
  height: 50px;
  position: absolute;
  bottom: 24px;
  left: 30px;
  z-index: 12;
}

#controls span
{
  cursor: pointer !important;
  display: block;
  float: left;
  margin: 0 1em 0 0;
  width: 46px;
  height: 46px;
  text-indent: -9999px;
  position: absolute;
  top: 0;
  opacity: .5;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#controls span:hover
{
  opacity: 1;
}

#controls #play,
#controls #pause
{
  left: 0;
}

#controls #mute,
#controls #unmute
{
  left: 55px;
}

#controls #play   { background: url(img/button-play.png) }
#controls #pause  { background: url(img/button-pause.png) }
#controls #mute   { background: url(img/button-mute.png) }
#controls #unmute { background: url(img/button-unmute.png) }



/* Mobile */

@media only screen and (min-width: 35em) {


}


/* HTML5 Boilerplate */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
