/* @override 
	http://localhost/adlibs/style.css */

/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #08587c; color: #fff; text-shadow: none; }
::selection { background: #08587c; color: #fff; text-shadow: none; }

a { color: #08587c; }
a:visited { color: #08587c; }
a:hover { color: #83121a; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* PBS NewsHour AdMaker 2012 */

/*
Fonts:

minion-pro (serif; body)
Regular: 400
Italic: 400
Bold: 700
Bold Italic: 700

proxima-nova
Semibold: 600
Black: 900

bickham-script-pro (script)
Regular: 400
Bold: 700

ff-brokenscript-web (blackletter)
Bold: 700

kremlin-pro-web (hand)
Regular: 400
*/

html,
body
{
  height: 100%;
  min-height: 100%;
}

body
{
  background: url(img/background.png) center center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
  font-family: 'minion-pro';
}

h1, h2, h3, h4, h5, p, li /* Fix Webkit/OS X font weight bug. */
{
  opacity: .99;
}

h1,
h2,
h3,
h4
{
  font-weight: normal;
  text-transform: uppercase;
}

hr
{
  background: transparent url(img/stars.png) center center no-repeat;
  border: 0;
  height: 26px;
  margin: 2em 0;
}

.container
{
  background: #c5c9cf url(img/body.png) center 224px repeat-x;
  margin: 0 auto;
  padding: 0 50px 30px 50px;
  width: 800px;
}

header h1
{
  background: url(img/header.jpg) top center;
  display: block;
  margin: 0 0 0 -50px;
  padding: 0;
  width: 900px;
  height: 224px;
}

.tagline
{
  color: #153350;
  font-size: 23px;
  font-style: italic;
  line-height: 1.6;
  margin: 1em 0 1em;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
}

.tagline .pbs
{
  display: block;
  font-family: 'proxima-nova';
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  margin: 0 0 .35em;
  text-transform: uppercase;
  text-shadow: none;
}

.tagline .pbs img
{
  margin-right: .25em;
  vertical-align: -9px;
}

#ad_type_cycle
{
  color: #000;
  display: inline-block;
  font-family: 'kremlin-pro-web';
  font-size: 34px;
  border-bottom: 2px dotted #ccc;
  margin: 0 .1em;
  padding: 0;
  text-shadow: none;
  text-transform: uppercase;
  vertical-align: -6px;
  width: 260px;
  height: 38px;
}

#ad_type_cycle em
{
  display: block;
  left: 0;
  padding-right: 10px;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  text-align: center;
  width: 260px;
}


/* Video container. */

img.pin
{
  position: absolute;
  top: -95px;
  left: -35px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 10;
}

img.pin.gone
{
  position: absolute;
  top: -600px;
  left: -200px;
}

img.crest
{
  position: absolute;
  bottom: -35px;
  left: 322px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 10;
}

img.crest.gone
{
  position: absolute;
  bottom: -600px;
  left: 322px;
}

.video_frame
{
  background: url(img/video_frame.gif) left top no-repeat;
  width: 800px;
  height: 450px;
  margin: 0 0 3em -13px;
  padding: 13px;
  position: relative;
}

.video_mask
{
  background: url(img/video_background.jpg);
  width: 800px;
  height: 450px;
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
}

#title_card,
#ad_choose,
#video_loading,
#video_contents,
#video
{
  position: absolute;
}

.video_frame    { z-index: 9; }
.video_mask     { z-index: 9; }
#title_card     { z-index: 5; }
#ad_choose      { z-index: 4; }
#video_contents { z-index: 3; }
#video_overlay  { z-index: 2; }
#video_loading  { z-index: 2; }
#video          { z-index: 1; }

.slide
{
  background: url(img/slide_background.jpg);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 800px;
  height: 450px;
  text-align: center;
  overflow: hidden;
  -webkit-box-shadow: 5px 0 10px #333;
     -moz-box-shadow: 5px 0 10px #333;
          box-shadow: 5px 0 10px #333;
  -webkit-transition: all .5s ease-in;
     -moz-transition: all .5s ease-in;
       -o-transition: all .5s ease-in;
          transition: all .5s ease-in;
}

.slide.current
{
  opacity: 1;
}

.slide.completed
{
  left: -850px;
}

.slide h2
{
  color: #182a45;
  font-size: 69px;
  font-weight: 900;
  line-height: .9;
  margin: .5em 0 0;
}

.slide h2 strong
{
  display: block;
  font-size: 80px;
  font-weight: 900;
}

#title_card
{
  z-index: 5;
}

#title_card h3
{
  color: #83121a;
  font-family: 'proxima-nova';
  font-size: 36px;
  font-weight: 900;
  line-height: 1;
  margin: 0;
  padding: .8em 0 0 0 ;
  width: 800px;
  height: 50px;
  position: absolute;
  top: 165px;
  left: 800px;
  opacity: 0;
  whitespace: no-wrap;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#title_card h3 .instructions
{
  height: 50px;
  overflow: hidden;
}

#title_card h3 .fb-login-button
{
  margin-right: .25em;
  vertical-align: 3px;
  position: relative;
  z-index: 1;
}

#title_card h3 img
{
  vertical-align: -13px;
}

#title_card h3 #disclaimer
{
  background: url(img/huh.png) right 3px no-repeat;
  border: 5px solid #333;
  color: #333;
  cursor: pointer;
  opacity: .3;
  overflow: hidden;
  text-align: left;
  text-transform: none;
  position: absolute;
  right: 140px;
  top: 8px;
  width: 27px;
  height: 27px;
  z-index: 2;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}

#title_card h3 #disclaimer p
{
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.4;
  margin: 0;
  opacity: 0;
  padding: 5px 11px;
  position: absolute;
  left: 0;
  top: 0;
  width: 140px;
}

#title_card h3 #disclaimer:hover
{
  background-color: #333;
  background-position: -100px -100px;
  opacity: .95;
  right: 12px;
  width: 152px;
  height: 155px;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  -webkit-box-shadow: 0 0 10px #333;
     -moz-box-shadow: 0 0 10px #333;
          box-shadow: 0 0 10px #333;
  -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
       -o-transform: rotate(3deg);
          transform: rotate(3deg);
}

#title_card h3 #disclaimer:hover p
{
  opacity: 1;
}

#title_card h3.current
{
  left: 0;
  opacity: 1;
}

#title_card h3.current.completed,
#title_card h3.completed
{
  left: -800px;
  opacity: 0;
}

#title_card h3#login_loading
{
  background: url(img/login_loading.gif) center 40px no-repeat;
}

#title_card h3#login_loading
{
  left: 0 !important;
}

#title_card h3#logged_in
{
  cursor: pointer !important;
}

#title_card p
{
  font-size: 21px;
  font-style: italic;
  line-height: 1.5;
  margin: 90px 75px;
}

#ad_chooser
{
  background: url(img/slide_background2.jpg);
  z-index: 4;
}

#ad_chooser h2
{
  margin-bottom: .25em;
}

#ad_chooser ul
{
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

#ad_chooser li,
#ad_chooser h3
{
  line-height: 1;
  margin: 0;
  padding: 0;
}

#ad_chooser .ad_choice_category h3,
#ad_chooser .ad_choice
{
  background-repeat: no-repeat;
  cursor: pointer !important;
  display: block;
  width: 50%;
  height: 138px;
  opacity: .85;
  text-indent: -9999px;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

#ad_chooser .ad_choice_category h3
{
  margin: 0;
  padding: 0;
  opacity: .85;
  position: absolute;
  left: 0;
  top: 0;
}

#ad_chooser .ad_choice
{
  width: 150px;
}

#ad_chooser .ad_choice_category.ad_choice
{
  width: 0;
}

#ad_chooser .ad_choice_category.not_chosen h3,
#ad_chooser .ad_choice.not_chosen
{
  opacity: .5;
}

#ad_chooser .clickable.ad_choice_category:hover h3,
#ad_chooser .clickable.ad_choice_category.not_chosen:hover h3,
#ad_chooser .clickable.ad_choice_category.chosen h3,
#ad_chooser .clickable.ad_choice:hover,
#ad_chooser .clickable.ad_choice.not_chosen:hover,
#ad_chooser .clickable.ad_choice.chosen
{
  opacity: 1;
}

#ad_chooser .ad_choice_category.left h3   { left: 0; }
#ad_chooser .ad_choice_category.right h3  { left: 50%; }

#ad_chooser .ad_choice_category div
{
  position: absolute;
  top: 150px;
  width: 800px;
  height: 200px;
  z-index: 1;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

#ad_chooser .ad_choice_category div h4,
#ad_chooser .ad_choice_category div p
{
  color: #fff;
  font-family: proxima-nova;
  text-align: left;
  width: 375px;
}

#ad_chooser .ad_choice_category div h4
{
  font-size: 22px;
  font-weight: 900;
  margin: 18px 0 0;
  text-transform: none;
}

#ad_chooser .ad_choice_category div p
{
  font-size: 16px;
  line-height: 1.2;
  top: 30px;
}

#ad_chooser .ad_choice_category div ul
{
  margin-top: 3px;
}

#ad_chooser #ad_choice-bio div
{
  background-image: url(img/video-choice-bio_banner.png);
  left: -800px;
}

#ad_chooser #ad_choice-bio div h4,
#ad_chooser #ad_choice-bio div p
{
  position: absolute;
  left: 310px;
}

#ad_chooser #ad_choice-bio.chosen div
{
  left: 0;
}

#ad_chooser #ad_choice-attack div
{
  background-image: url(img/video-choice-attack_banner.png);
  right: -800px;
}

#ad_chooser #ad_choice-attack div h4,
#ad_chooser #ad_choice-attack div p
{
  position: absolute;
  left: 120px;
}

#ad_chooser #ad_choice-attack div p
{
  top: 50px;
}

#ad_chooser #ad_choice-attack div ul
{
  margin-left: 485px;
}

#ad_chooser #ad_choice-attack.chosen div
{
  right: 0;
}

#ad_chooser .ad_choice_category li
{
  background-position: 8px top;
  cursor: pointer !important;
  float: left;
  margin: 0;
  padding: 0;
}

#ad_choice-bio h3          { background: url(img/video-choice-bio.png) 215px top no-repeat; }
#ad_choice-smalltown       { background-image: url(img/video-choice-smalltown.png); }
#ad_choice-metro           { background-image: url(img/video-choice-cityorsuburb.png); }
#ad_choice-attack h3       { background: url(img/video-choice-attack.png) 40px top no-repeat; }
#ad_choice-unfitforoffice  { background-image: url(img/video-choice-credentials.png); }
#ad_choice-backfire        { background-image: url(img/video-choice-character.png); }

#video_loading
{
  background: #000;
  color: #fff;
  font-family: 'proxima-nova';
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 0;
  width: 800px;
  height: 340px;
  padding-top: 100px;
  z-index: 3;
  text-shadow: 0 0 5px #000;
  -webkit-transition: all .15s ease-in-out;
     -moz-transition: all .15s ease-in-out;
       -o-transition: all .15s ease-in-out;
          transition: all .15s ease-in-out;
}

#video_loading.inactive
{
  opacity: 0;
}

#video_contents
{
  width: 800px;
  height: 450px;
  position: absolute;
  left: 0;
  top: 0;
}

#controls
{
  height: 50px;
  position: absolute;
  bottom: 24px;
  left: 30px;
  z-index: 12;
  
}

#controls span
{
  cursor: pointer !important;
  display: block;
  float: left;
  margin: 0 1em 0 0;
  width: 49px;
  height: 49px;
  text-indent: -9999px;
  position: absolute;
  top: 0;
  opacity: .5;
  -webkit-transition: opacity .3s ease-in-out;
     -moz-transition: opacity .3s ease-in-out;
       -o-transition: opacity .3s ease-in-out;
          transition: opacity .3s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#controls span:hover
{
  opacity: 1;
}



#controls #mute
{
  left: 50px;
}

#controls #playPause   { background: url(img/buttons.png) 0 -48px}
#controls #mute  { background: url(img/buttons.png) 0 -144px
}

#controls #playPause.playing {
  background-position: 0 0;
}

#controls #mute.muted {
  background-position: 0 -95px;
}



/* Inputs */

.video_content
{
  width: 800px;
  height: 450px;
  overflow: hidden;
}

#video_overlay
{
  background: url(img/video_overlay.png);
  position: absolute;
  left: 0;
  top: 0;
  width: 800px;
  height: 450px;
  opacity: 0;
  -webkit-transition: opacity .25s ease-in-out;
     -moz-transition: opacity .25s ease-in-out;
       -o-transition: opacity .25s ease-in-out;
          transition: opacity .25s ease-in-out;
}

#video_overlay.active
{
  opacity: 1;
}

.choice
{
  background: url(img/choice-banner_bottom.png) center top no-repeat;
  position: absolute;
  left: 0;
  top: -450px;
  padding: 0;
  width: 800px;
  height: 450px;
  overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.choice.complete
{
  top: 450px;
}

.choice.current
{
  top: 0;
}

.choice .question,
.choice .education,
.choice .choices
.choice .actions
{
  position: absolute;
}

.choice .question  { z-index: 4; }
.choice .education { z-index: 3; }
.choice .actions   { z-index: 2; }
.choice .choices   { z-index: 1; }

.choice h2.question
{
  background: url(img/choice-banner_top.png) center top no-repeat;
  color: #182a45;
  display: table;
  font-family: proxima-nova;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  padding: 10px 70px 25px 70px;
  width: 660px;
  height: 90px;
  text-align: center;
  text-transform: none;
  z-index: 3;
}

.choice h2.question span
{
  display: table-cell;
  vertical-align: middle;
}

.choice h2.question.small
{
  font-size: 28px;
}

.choice .education,
.choice .choices
{
  position: absolute;
  top: 98px;
  height: 352px;
  overflow: auto;
  padding: 15px;
}

.choice .education
{
  background: #007faa;
  color: #fff;
  font-family: 'proxima-nova';
  left: 46px;
  width: 278px;
  z-index: 2;
}

.choice .education p
{
  font-size: 15px;
  line-height: 1.2;
  margin: 0 0 .75em 0;
}

.choice .education p strong
{
  font-weight: 900;
}

.choice .choices
{
  background: #192a48 url(img/choices.png) left repeat-y;
  left: 352px;
  width: 384px;
  padding-bottom: 17px;
  z-index: 2;
  overflow: auto;
}

.choice.current .choices
{
  display: block;
}

.choice .choices ul
{
  margin: 0 0 15px;
  padding: 0;
  overflow: hidden;
}

.choice .choices li
{
  cursor: pointer !important;
}

.choice .choices.photos
{
  padding: 17px 0 0 20px;
}

.choice .choices.photos ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.choice .choices.photos ul li
{
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  border: 4px solid #fff;
  cursor: pointer !important;
  float: left;
  margin: 0 18px 18px 0;
  width: 98px;
  height: 98px;
  opacity: .8;
  -webkit-transition: opacity .1s ease-in-out, box-shadow .1s ease-in-out;
     -moz-transition: opacity .1s ease-in-out, box-shadow .1s ease-in-out;
       -o-transition: opacity .1s ease-in-out, box-shadow .1s ease-in-out;
          transition: opacity .1s ease-in-out, box-shadow .1s ease-in-out;
  -webkit-box-shadow: 2px 2px 5px #000;
     -moz-box-shadow: 2px 2px 5px #000;
          box-shadow: 2px 2px 5px #000;
}

.choice .choices.photos ul li:nth-child(3n+3)
{
  margin-right: 0;
}

.choice .choices.photos li.unselected
{
  opacity: .5;
}

.choice .choices.photos li:hover,
.choice .choices.photos li.selected
{
  opacity: 1;
}

.choice .choices.photos li.selected
{
  -webkit-box-shadow: 0 0 10px #fff;
     -moz-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
}

.choice .choices.text
{
  background: url(img/slide_background.jpg);
  width: 370px;
}

.choice .choices.text ul li
{
  background: url(img/bubbles.png) left 4px no-repeat;
  border-bottom: dotted 1px #aaa;
  color: #182A45;
  display: block;
  font-family: 'proxima-nova';
  font-size: 22px;
  margin-bottom: .5em;
  padding: 0 0 .5em 45px;
  -webkit-transition: color .1s ease-in-out;
     -moz-transition: color .1s ease-in-out;
       -o-transition: color .1s ease-in-out;
          transition: color .1s ease-in-out;
}

.choice .choices.text ul li:last-child
{
  border-bottom: 0;
}

.choice .choices.text ul li:hover,
.choice .choices.text ul li.selected
{
  background-position: left -976px;
  color: #0080a6;
}

.choice .choices.text.large
{
  padding-top: 5px;
}

.choice .choices.text.large ul li
{
  background-position: -955px 12px;
  font-size: 32px;
  padding: .15em 0 .15em 65px;
}

.choice .choices.text.large ul li:hover,
.choice .choices.text.large ul li.selected
{
  background-position: -955px -959px;
}

.choice.no_education h2
{
  text-align: left;
}

.choice.no_education .choices.text
{
  left: 50px;
  padding: 5px 20px;
  width: 660px;
}

.choice .choices ul
{
  margin-bottom: 65px;
}

.choice.no_education .actions
{
  left: 50px;
  bottom: -100px;
  width: 670px;
}

.choice .actions
{
  background: #192a48 url(img/choices.png) left repeat-y;
  position: absolute;
  bottom: -60px;
  left: 352px;
  width: 370px;
  height: 44px;
  padding: 8px 15px;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
  -webkit-box-shadow: 0 -4px 4px rgba(0, 0, 0, .25);
     -moz-box-shadow: 0 -4px 4px rgba(0, 0, 0, .25);
          box-shadow: 0 -4px 4px rgba(0, 0, 0, .25);
}

.choice .actions.active
{
  bottom: 0;
}

.choice .actions span
{
  cursor: pointer !important;
  color: #fff;
  font-family: 'proxima-nova';
  font-size: 36px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  opacity: .85;
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
       -o-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;
}

.choice .actions span:hover
{
  opacity: 1;
}

.choice .actions span img
{
  margin-right: .25em;
}


/* Mobile */

@media only screen and (min-width: 35em) {


}


/* HTML5 Boilerplate */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* Hide elements of the page during development */

body.dev,
.dev .container
{
  background: #fff;
}

.dev header,
.dev .tagline,
.dev hr,
.dev .pin,
.dev .crest
{
  display: none;
}

.dev .video_frame
{
  margin-top: 1em;
}